<h1> show artiste</h1>

<p>
	<strong> Nom: </strong>
	<%= @artiste.nom %>
</p>
<p>
	<strong>Ses prochaines dates: </strong>

<% seances = Seance.where(artiste_id: @artiste.id) %>

<% seances.each do |s| %>
	<% concert  = Concert.find(s.concert_id) %>

	<%= link_to "#{concert.name}/#{s.date}", concerts_path(concert) %>

<% end %>
<% unless seances.count > 0 %>
    <%= "Cette artiste n à pas de date prévu prochainement" %>
<% end %>
<br>
<%= link_to 'Accueil', concerts_path %>