<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">

<div id="corp">
    <div id="entete">
        <div id="title">
            <h1>eConcert</h1>
        </div>
        <p>Gestion des utilisateurs</p>
    </div>
    
    <div id="sousCorp">
        <div id="contenuCorp2">
            <h1>Utilisateurs</h1>
                <table>
                  <thead>
                    <tr>
                      <th>Email :</th><br/>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= user.email %></td>
                        <div>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" style="background-color : green;">
                                    <%= link_to 'Voir', user, :class => "tdEdite" %>
                                </button>
                            </td>
                        </div>
                        <td>
                             <button type="button" class="btn btn-primary btn-xs">
                                 <%= link_to 'Editer', edit_user_path(user), :class => "tdEdite" %>
                             </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" style="background-color : #B12B2A;">
                                <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "tdEdite" %>
                            </button>
                        </td>
                        
                      </tr>
                      
                    <% end %>
                  </tbody>
                </table>
            <br/>
           
            
        </div>
    </div>
</div>



