<ul>
	<li>
		<a href="http://localhost:3000/concerts"> 
			Clique ici pour voir les Concerts ! 
		</a>
		<a href="http://localhost:3000/new"> 
			Clique ici pour creer un Concert ! 
		</a>
	</li>
</ul>